html,
body {
  width: 50%;
  margin: 0 auto;
  font-family: monospace;
  box-sizing: border-box;
  background-image: url("img/abstract.jpg");
}

.container {
  width: 775px;
  padding: 5px;
}
.column {
  float: left;
  width: 50%;
  margin-top: 5px;
  font-size: 25px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#main {
  margin-top: 10px;
}

button {
  font-size: 20px;
}

p,
h1 {
  font-size: 32px;
  color: darkred;
  text-align: center;
}

p {
  color: darkred;
}

.box {
  height: 850px;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

#inputField {
  width: 410px;
  height: 46px;
  border: 1px solid black;
  outline: none;
  font-size: 15px;
  vertical-align: middle;
  text-align: center;
}

#addToDo {
  height: 50px;
  width: 65px;
  background-color: blue;

  font-size: 30px;
  vertical-align: middle;
  cursor: pointer;
  color: white;
}

  